<template>
  <div class="page-layout" >
    <topic title="Algo de historia">
    En el año 1996 poco despues de Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nostrum consequatur 
    aperiam rem voluptatem atque. Consectetur aut officia perspiciatis error aperiam, libero animi praesentium accusantium
    dignissimos minus, laboriosam, nemo nihil bla bla bla bla
    </topic>
    <topic title="Estado actual de Javascript">
    El soporte actual de la mayoria de los navegadores está basado en ECMAScript5, contrario a lo que pudiera pensarse este soporte
    es parcial y con implementaciones desentralizadas (cada navegador desarrolla su propia implementación). Esto hace dificil la adopcion de 
    los nuevos estandares.
    </topic>
    <topic title="¿Que papel tienes los web components?">
    Actualmente gracias a la actualización de las especificaciones de ECMAScript es posible hacer desarrollos más eficientes y sofisticados, 
    las mejoras cómo promesas, arrow functions, async await, observables, clases, spread operator, entre otras, han faciltado la implementación
    de frameworks basados en web componentes. 
    </topic>
    <topic title="¿Que es un componente web?">
    Esa es una muy buena pregunta que vamos a responder en un momento
    </topic>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor','changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('JAVASCRIPT')
    this.changeSectionColor('green')
    this.changeSectionIcon('language-javascript')
  }
}
</script>

