<template>
  <div class="page-layout" >
   
  </div> 
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor', 'changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('PRUEBAS')
    this.changeSectionColor('light-green')
    this.changeSectionIcon('test-tube')
  }
}
</script>
