<template>
  <div class="page-layout" >
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor', 'changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('CÓDIGO')
    this.changeSectionColor('pink')
    this.changeSectionIcon('code-tags')
  }
}
</script>
