<template>
  <div class="page-layout" >
    <topic title="Librerias para desarrollo de Web Components">
    Las tres librerias principales son AngularJS ReactJS y VueJS, siendo Angular creada por Google la que tiene mas trayectoria, 
    está enfocada en el desarrollo de aplicaciones robustas, React es un desarrollo de Facebook que utiliza JSX cómo base para 
    su desarrollo, Vue está creado un Evan You, un ex-empleado de google que participó en el desarrollo de Angular, Vue reune 
    lo mejor de los otros desarrollos
    </topic>
    <topic title="Babel">
    Babel es la libreria que hace posible el uso de ECMAScript6+ en los navegadores actuales, su función es "traducir" el código
    en ECMAScript6+ a la versión que se requiera.
    </topic>
    <topic title="Webpack">
    Esta libreria hace las veces de automatizador de tareas para los assets y gestor de configuraciones, permite configurar la forma en la que
    se servirán los assets en producción, así como la forma en la que se presentan los archivos para el servidor de desarrollo onlive
    </topic>
  </div> 
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor', 'changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('LIBRERIAS')
    this.changeSectionColor('cyan')
    this.changeSectionIcon('nodejs')
  }
}
</script>

