<template>
    <!-- <div class="card-panel z-depth-4 card-layout lighten-3" :class="$store.state.sectionColor"> -->
        <div class="card  z-depth-4 card-layout white-text"  >
            <div :class="$store.state.sectionColor" class="darken-2 z-depth-3 card-side-bar"> 
                <slot name="menu" />
            </div>
            <slot name="nuxt" /> 
        </div>
    <!-- </div> -->
</template>
<script>
export default {
    props:['bg-color']
}
</script>

<style>
.card{
    max-height: 80vh;
    overflow: overlay
}

.card-side-bar{
    z-index: 1;
    border-radius: 15px 0 0 15px
}
.card-main-content{
    border-radius: 0 15px 15px 0
}
</style>
