<template>
    <div class="menu-layout">
        <div class="menu-icon ">
            <div :class="`mdi mdi-${icon}`"></div>
            <div> {{$store.state.sectionTitle}} </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['icon'],
}

</script>

<style>
.menu-layout{
    display:grid;
    min-height: 100%;
    /*flex-direction: column; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "." "icon" ".";
    align-items: center;
    justify-content: center 
}
.menu-content{
    display:flex;
    min-height: 80%;
    min-width: 100%;
    margin-left: 16px;
    align-items: center;
    justify-content: center 
}
.mdi{
    font-size: 4.5rem
}
.menu-icon{
    grid-area: icon;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

</style>
