<template>
    <header>
        <div class="title">
            <h3 class="condensed light">
                Web Components
            </h3>
        </div>
        <div class="links">
           <nuxt-link to="/"> Inicio </nuxt-link> 
           <nuxt-link to="javascript">Javascript </nuxt-link> 
           <nuxt-link to="concepts">Conceptos </nuxt-link> 
           <nuxt-link to="libraries">Librerias </nuxt-link> 
           <nuxt-link to="components">Componentes </nuxt-link> 
           <nuxt-link to="code">Código </nuxt-link> 
           <nuxt-link to="test">Pruebas </nuxt-link> 
        </div>
    </header> 
</template>
<style>
    h3{
      margin: 3px
    }
    .title{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly
    }
</style>
