<template>
    <section class="container">
        <h5 class="condensed">{{title}}</h5>
        <p class="condensed">
            <slot  />
        </p>
    </section> 
</template>
<script>
export default {
    props:['title']
}
</script>
<style scoped>
    section{
        display:flex;
        flex-direction: column
    }
</style>
