<template>
  <div class="grid">
    <main-menu />
    <div class="main">
      <card :class="$store.state.sectionColor">
        <!-- <div slot="menu"> Menu </div> -->
        <card-menu slot="menu" :icon="$store.state.sectionIcon" />
        <nuxt slot="nuxt" />
      </card>
    </div>
  </div>
</template>
<script>
import Card from '@/components/UI/Card'
import MainMenu from '@/components/UI/MainMenu'
import CardMenu from '@/components/UI/CardMenu'

export default {
  components:{
    MainMenu,
    CardMenu,
    Card
  }
}
</script>

<style>
body{
  background: #dadada;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #aad; 
}
.grid{
  min-height: 100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: "header header"
                       "container container";
}

header{
  grid-area: header;
  display:flex;
  align-content: center;
  justify-content:space-between
}
section{
  grid-area: section;
  display: grid;
  grid-template-columns:12% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu content";
}
.main{
  min-height: 100%;
  min-width: 100%;
  display:grid;
  grid-template-columns: 1fr 14fr 6fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas: ". . options options"
                       ". card card ."
}
.card-layout{
  grid-area: card;
  border-radius: 15px;
  display:grid;
  grid-template-columns: 2fr 10fr
}
.page-layout{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
</style>
