<template>
  <div class="page-layout" >
    <topic title="Web components y Javascript Moderno">
    El objetivo de esta presentación es conocer los principios del desarrollo basado en componentes, así cómo también 
    las nuevas espeficicaciones de Javascript y las herramientas necesarias para implementar este stack de desarrollo
    </topic>
    <topic title="¿Que voy a aprender aquí?">
    En esta presentación se abordarán temas como el estado actual de el desarrollo en Javascript, ECMAScript 6+, módulos, 
    Webpack, Babel, web components y las principales librerias/frameworks para su desarrollo
    </topic>
    <topic title="¿Cómo funciona esta presentación?">
    Esta presentación está pensada para dar a conocer de primera mano la estructura de un proyecto basado en componentes web, 
    para poder ejecutar esta presentación en tu equipo debes [INSERTAR INSTRUCCIONES AQUI]
    </topic>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor', 'changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('INICIO')
    this.changeSectionColor('blue-grey')
    this.changeSectionIcon('home')
  }
}
</script>

<style>

</style>
