<template>
    <div class="page-layout" >
      <topic title="Componete web">
      Es un conjunto de tecnologías enfocadas en crear elementos de frontend agrupados y reutilizables de manera sencilla. 
      Los web components nacieron con la idea de dejar de usar framework e incorporar un estándar en los navegadores donde se 
      puedan crear nuevos elementos. Las implementación y las tecnologías usadas en los web componentes varían según el framework 
      pero en la especificación de webcomponents son los siguientes:
      </topic>
      <topic title="SPA">
      Single Page Aplication, es una página web en la que todo el contenido se carga una sola vez
      </topic>
      <topic title="Template">
      Es una etiqueta HTML que no se renderiza pero puede ser referencia en Javascript, funciona para declrar plantillas HTML
      </topic>
      <topic title="Estado">
      Es el conjunto propiedades de un componente web y pueden existir componentes con estado (stateful) y sin estado, (stateless)
      </topic>
      <topic title="ECMAScript">
      Es la definición de un lenguaje de tipos dinámicos. Cada navegador tiene una implementación standand de estas reglas
      </topic>
      <topic title="transpilers">
      Son librerias encargadas de interpretar código en ECMAScript6+ y transpilarlo ("traducirlo") a una versión de ECMAScript que pueda
      ser interpretada por los navegadores
      </topic>
      <topic title="Shadow DOM">
      Es una versión encapsulada del DOM que permite aislar partes del DOM incluyendo cualquier propiedad que pudiera utilizarse como 
      selector y cualquier estilo relacionado a el
      </topic>
      <topic title="SSR (server side rendering)">
      Permite resolver la ejecución de un componente web en el servidor para entregar HTML al cliente
      </topic>
    </div>
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'

export default {
  components:{
    Topic
  },
  data(){
    return{
      templateExample:
        `<template> 
        <div>
          <h3>Titulo</h3>
          <div>
            Contenido
          </div>
        </div>
      </template`
    }

  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor','changeSectionIcon'])
  },
  mounted(){
    this.changeSectionTitle('CONCEPTOS')
    this.changeSectionColor('blue')
    this.changeSectionIcon('bookmark-outline')
  }
}
</script>

