<template>
    <div class="form-group">
        <label :for="name">{{label}}</label>
        <input class="form-control" type="password" :name="name" :id="name" :value="value" v-on="listeners" v-bind="$attrs">
    </div>
</template>
<script>
export default {
    inheritAttrs:false,
    props:['name', 'label','value'],
    computed:{
        listeners(){
            return {
                ...this.$listeners,
                input: event => this.$emit('input', event.target.value)
            }
        }
    }
}
</script>

