<template>
    <div>
        <!-- <div class="row"> -->
        <legend class="col-form-label">Radios</legend>
        <div class="form-inline">
            <div class="form-check" v-for="(option, idx) in options" :key="idx">
                <input class="form-check-input" type="radio" :name="name" :id="name[idx]" :value="option.value" v-bind="$attrs" v-on="listeners">
                <label class="form-check-label" :for="name[idx]">
                    {{option.label}}
                </label>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['options', 'name', 'value'],
    computed:{
        listeners(){
            return {
                ...this.$listeners,
                input: event => this.$emit('input', event.target.value)
            }
        }
    } 
}
</script>
<style>
.form-inline{
    display: flex;
    justify-content:space-between 
}
</style>
