<template>
    <div class="form-group">
        <label :for="name">{{name}}</label>
        <select class="form-control" :name="name" :id="name" :value="value" v-bind="$attrs" v-on="listeners">
            <option ></option>
            <option v-for="(option, idx) in options" :key="idx" :value="option.value">{{option.label}}</option>
        </select>
    </div>
</template>
<script>
export default {
    inheritAttrs:false,
    props:['name','label','options','value'],
    computed:{
        listeners(){
            return {
                ...this.$listeners,
                input: event => this.$emit('input', event.target.value)
            }
        }
    }
}
</script>

