<template>
    <div class="switch">
    <label>
        {{offLabel}}
        <input type="checkbox" :checked="value">
        <span class="lever"></span>
        {{onLabel}}
        </label>
    </div>
</template>
<script>
export default {
    props:['offLabel','onLabel', 'value'],
    methods:{
        update:(e)=>{
            this.value = e.target.value
        }
    }
}
</script>
