<template>
    <div class="form-group">
        <div class="input-field">
           <input class="form-control" type="text" :name="name" :id="name" :value="value" v-on="listeners" v-bind="$attrs" >
           <label for="first_name">{{label}}</label>
        </div>
    </div>
</template>
<script>
export default {
    inheritAttrs:false,
    props:['name', 'label','value'],
    computed:{
        listeners(){
            return {
                ...this.$listeners,
                input: event => this.$emit('input', event.target.value)
            }
        }
    }
}
</script>

