<template>
  <div class="examples-layout" >
    <div class="component container">
      <text-input id="name" name="name" v-model="nombre" :label="nameLabel" autofocus />
      <text-input id="apellido" name="apellido" v-model="apellido" label="apellido" />
      <switch-input onLabel="Casada" offLabel="Soltera"/>
    </div>
    <div class="state">

    </div>
  </div>  
</template>
<script>
import { mapMutations } from 'vuex'
import Topic from '@/components/UI/Topic'
import SwitchInput from '@/components/Inputs/SwitchInput'
import TextInput from '@/components/Inputs/TextInput'
import SelectInput from '@/components/Inputs/SelectInput'

export default {
  components:{
    Topic,
    TextInput,
    SwitchInput,
    SelectInput
  },
  data(){
    return{
      nameLabel:'Nombre',
      nombre:'Alejandra',
      apelllido: 'Ruiz'
    }
  },
  methods:{
    ...mapMutations(['changeSectionTitle', 'changeSectionColor','changeSectionIcon'])
  },
  created(){
  },
  mounted(){
    M.AutoInit() 
    this.changeSectionTitle('COMPONENTES')
    this.changeSectionColor('orange')
    this.changeSectionIcon('vuejs')
  }
}
</script>
<style scoped>
  .examples-layout{
    background: #ebd3af;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "component" "state"
  }

  .component{
    grid-area: component
  }

  .state{
    grid-area: state
  }
</style>
